extends layout

block content
  h1 #{title}: #{caseobj.name}
  
  if caseobj_task.length
  
    p #[strong Delete the following tasks before attempting to delete this Case.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Tasks
    
      dl
      each task in caseobj_task
        dt 
          a(href=task.url) #{task.description}

  else
    p Do you really want to delete this Case?
    
    form(method='POST' action='')
      div.form-group
        input#caseobjid.form-control(type='hidden',name='caseobjid', required='true', value=caseobj._id )

      button.btn.btn-primary(type='submit') Delete