extends layout

block content
  h1 #{title}: #{person.name}
  
  if person_caseobj.length
  
    p #[strong Delete the following cases before attempting to delete this person.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Cases
    
      dl
      each caseobj in person_caseobj
        dt 
          a(href=caseobj.url) #{caseobj.name}
        dd #{caseobj.summary}

  else
    p Do you really want to delete this Person?
    
    form(method='POST' action='')
      div.form-group
        input#personid.form-control(type='hidden',name='personid', required='true', value=person._id )

      button.btn.btn-primary(type='submit') Delete