extends layout

block content
  h1 #{title}: #{practicearea.name}
  
  if practicearea_caseobj.length
  
    p #[strong Delete the following cases before attempting to delete this practice area.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Cases
    
      dl
      each caseobj in practicearea_caseobj
        dt 
          a(href=caseobj.url) #{caseobj.name}
        dd #{caseobj.summary}

  else
    p Do you really want to delete this Practice Area?
    
    form(method='POST' action='')
      div.form-group
        input#practiceareaid.form-control(type='hidden',name='practiceareaid', required='true', value=practicearea._id )

      button.btn.btn-primary(type='submit') Delete