extends layout

block content
  h1= title

  ul
    each task in task_list    
      li
        if task.status=='Done'
          span.text-success #{task.status} - 
        else if task.status=='Ongoing'
          span.text-warning #{task.status} - 
        else if task.status=='To do'
          span.text-danger #{task.status} - 
        if task.status!='Done'
          span.text-danger #{task.due_formatted} - 
        a(href=task.url) #{task.description}
        |  - 
        a(href=task.caseobj.url) #{task.caseobj.name}
        if task.status!='Done'

    else
      li There are no tasks.